# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.tsv
*.json
*.xml
*.h5
*.pkl

# Logs
*.log

# Model files
*.ckpt
*.h5
*.pt
*.onnx

# Environment files
.env
*.env

# IDE-specific files
.vscode/
.idea/
